<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MID EXAM</title>
    <link rel="stylesheet" href="/cv/style.css">
</head>
<body>
    <header>
        <div class="first-sec">
           <h1> ABDULLAH HASSAN</h1>
            
           <div>
            <h3 class="prof">STUDENT</h3>
           </div> 
        </div>

        <div class="sec-section">
            <div class="info">
                <a href="#">Gender:Male</a>
                <a href="#" class="Email">Email:abdullah@.com</a>
                <a href="#">Website:https://abd.com</a>
            </div>
            <div class="info">
                <a href="#">Date of Birth:31-08-2003</a>
                <a href="#">Address:abdullah@.com</a>
                <a href="#">Phone:https://abd.com</a>
            </div>
        </div>
    </header>

    <main>
        <div class="main1">
            <div class="img">
                <img src="./images2/image.png"  alt="">
            </div>

            <div class="same-sty">
                <div class="education">
                    <h4>Education</h4>
                </div>
                <p><b>University major</b> :Coprate administration</p>
                
                <p> <b>year</b>:2024</p>
                <p> <b>cgpa</b>:4.0</p>
                

            </div>
        </div>



        <div class="sec2">
            <div class="objective">
                <div class="education">
                    <h4>objective</h4>
                </div>
                Dynamic and results-oriented sales professional with 3+ years of experience seeking to leverage my skills in customer relationship management, product promotion, and sales strategy to drive revenue growth for a forward-thinking company
            </div>

            <div class="workspace">
                <div class="education">
                    <h4>workspace</h4>
                </div>
                <p>Efficient and Organized Workspace Setup for Study and Development

                    Development Tools: Visual Studio Code for web development projects and Python programming. Utilize extensions for Git integration, debugging, and linting for code quality.
                    Project Management: Notion for organizing study schedules, assignments, and personal coding projects. Use task lists, databases, and note-taking features for structured learning.
                    Version Control: GitHub for managing and tracking coding projects, collaborating with peers on group projects, and maintaining repositories.
                    Design Tools: Figma for creating UI/UX wireframes and mockups for web and mobile applications.
                    </p>
            </div>
        </div>




        <div class="sec2">
            <div class="objective">
                <div class="education">
                    <h4>skils</h4>
                </div>
                Dynamic and results-oriented sales professional with 3+ years of experience seeking to leverage my skills in customer relationship management, product promotion, and sales strategy to drive revenue growth for a forward-thinking company
            </div>

            <div class="workspace">
                <div class="education">
                    <h4>Interests</h4>
                </div>
                <p>Efficient and Organized Workspace Setup for Study and Development

                    Development Tools: Visual Studio Code for web development projects and Python programming. Utilize extensions for Git integration, debugging, and linting for code quality.
                    Project Management: Notion for organizing study schedules, assignments, and personal coding projects. Use task lists, databases, and note-taking features for structured learning.
                    Version Control: GitHub for managing and tracking coding projects, collaborating with peers on group projects, and maintaining repositories.
                    Design Tools: Figma for creating UI/UX wireframes and mockups for web and mobile applications.
                    </p>
            </div>
        </div>

        


        
    </main>

    <script src="index.js"></script>
</body>
</html>